@import 'variables';

.rootLayout {
  background-color: #4a5568;
  width: 100%;

  @include mq(lg) {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}
