@use '@/_styles/variables/variables.scss';

.container {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;

  @include variables.mq(lg) {
    display: flex;
  }
}

.main {
  box-sizing: border-box;
  height: 100%;

  flex-grow: 1;
  border-right-width: 1px;
  display: grid;
  place-items: center;

}

.side {
  flex-basis: 25%;
  height: 100%;
  flex-grow: 3;
}

.message {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin_text {
  font-size: 16px;
}
