$breakpoints: (
  'xs': 'screen and (min-width: 370px)',
  'sm': 'screen and (min-width: 600px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 800px)',
  'xl': 'screen and (min-width: 1000px)',
  'xxl': 'screen and (min-width: 1200px)',
);

$medium-width: 750px;

$title_color: #f8fafc;

$text_color: #cbd5e0;

$since_text_color: #a6a9ac;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

@mixin panel_color_style() {
  background-color: rgba(55, 65, 81, var(--tw-bg-opacity));
  --tw-bg-opacity: 1;
  border-radius: 0.25rem;
}
